.app {
  margin: 0px auto;
  padding: 20px;
  max-width: 700px;
  font-family: Arial, Helvetica, sans-serif;
}

.bold {
  font-weight: 800;
}

.input {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.blockOptions {
  position: relative;
}

.visible {
  width: 100%;
  display: block;
  background: rgb(187, 232, 250);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  transition-duration: 1s;
}
.visible :hover {
  cursor: pointer;
}

.hidden {
  opacity: 0.25;
  overflow: hidden;
  position: relative;
  top: -10px;
}
